/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
	font-family: 'Poppins';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-padding-top: 2rem;
}

body{
	color: #0e2045;
	background: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

img{
	width: 100%;
}

section{
	padding: 3rem 0 2rem;
}

a{
	text-decoration: none;
	color: #0e2045;
}

.container{
	max-width: 1024px;
	margin: auto;
	width: 100%;
}

.btn {
    background-color: #eaeaea;
    border: none;
    padding: 8px 20px 8px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.05);
    transition: .3s ease;
}

.btn:active {
    scale: 95%;
}

.tools-btn {
    background-color: #fff;
    border: none;
    padding: 8px 20px 8px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin: 2px;
}

.tools-btn:hover {
    background-color: #eaeaea;
}

.tools-btn:active:hover {
    background-color: #e1e0e0;
}

.tools-area {
    background-color: #f8f9fa;
    width: 100%;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.txt-area .text {
    width: 100%;
    height: 400px;
    resize: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 3px solid #eaeaea;
    border-top-color: #f8f9fa;
    background-color: #fff;
    outline: none;
    padding: 10px 12px 10px 12px;
}

/* Ashish Credits */

.ashish-credits {
    background-color: #fff;
    border: 2px solid #e7e9eb;
    font-size: smaller;
    padding: .5rem .5rem;
    width: 200px;
    display: flex;
    column-gap: .3rem;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.05);
    z-index: 9999;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.ashish-credits .icon {
    color: #8710d8
}


/* Making the Website Responsive */

@media (max-width: 1000px){
	.container{
		margin: 0 auto;
		width: 90%;
	}
}